.auth-container .backdrop-image:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #000;
  border-radius: 0;
  box-shadow: none;
  opacity: .6;
  transition: unset;
}

.auth-container {
  perspective: 100rem;
  min-height: 100vh;
  display: flex;
  background-color: #1971f5;
  justify-content: center;
}
.auth-container .backdrop-image.banner,
.auth-container .backdrop-image.doctor{
  background-position: 10rem -15vh;
  background-size: calc(100vw + 10rem);
}
.auth-container .backdrop-image{
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #1971f5;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
  transition: unset;
  background-position: 20vw top;
  background-size: 80vw;
  background-color: #f8f9fa!important;
  background-repeat: repeat-x;
}

.auth-container .backdrop-image.patient {
  background-position: 100%;
  background-size: cover;
}
.auth-container .section-route-group {
  align-self: center;
  border-radius: .625rem;
  width: 31.5rem;
  max-height: calc(87.5vh);
  height: 58rem;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  max-width: calc(100vw - 1.25rem);
  box-shadow: 0 1rem 4rem rgb(0 0 0 / 25%);
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
  -webkit-animation-timing-function: cubic-bezier(.165,.84,.44,1);
  animation-timing-function: cubic-bezier(.165,.84,.44,1);
  transition: .375s;
}
.auth-container .section-route-group .signup-section {
  height: 41rem;
  width: 29.5rem;
}
app-logo.centered{
    justify-content: center;
}
