<div class="faq-container">
  <section class="initial-content">
    <div class="container">
      <div class="row justify-content-center p-5">
        <div class="col-12 col-md-9">
          <div class="caption-lg"> Hello, how can we help? </div>
          <div class="search-area d-none">
            <div class="icon"><i class="fa fa-search"></i></div><input type="text" placeholder="Ask a question...">
            <div class="btn btn-primary"> Ask </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <p class="text-bold text-center text-lg text-muted"> Or choose a category to quickly
            find the help you need </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-3"><a href="javascript:void(0)">
            <div class="get-help-card card">
              <fa-icon class="fa-times" [icon]="['fas', 'flag']"></fa-icon>
              <div class="title text-muted">General Info</div>
            </div>
          </a></div>
        <div class="col-12 col-md-3"><a href="javascript:void(0)">
            <div class="get-help-card card">
              <fa-icon class="fa-times" [icon]="['fas', 'money-bill']"></fa-icon>

              <div class="title text-muted">Pricing &amp; Plans</div>
            </div>
          </a></div>
        <div class="col-12 col-md-3"><a href="javascript:void(0)">
            <div class="get-help-card card">
              <fa-icon class="fa-times" [icon]="['fas', 'hospital']"></fa-icon>

              <div class="title text-muted">Medical Questions</div>
            </div>
          </a></div>
      </div>
    </div>
  </section>
<section class="faq-info">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 px-0 ">
        <h1>FAQs</h1>
        <h2>General Info</h2>
        <div class="container">
          <div class="accordion accordion-flush" id="faq_flush">
            <div class="accordion-item">
              <p class="accordion-header" id="faq1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1_target" aria-expanded="false" aria-controls="faq1_target">
                  What is CribMD
                </button>
              </p>
              <div id="faq1_target" class="accordion-collapse collapse" aria-labelledby="faq1" data-bs-parent="#faq_flush">
                <div class="accordion-body">CribMD is a digital Doctor on Demand platform that whose goal is to provide medical care at a very affordable rate for the rich and the poor alike. Our platform makes it possible for anyone anywhere to access medical care at any time without barrier of distance. You can either request for a home visit from a doctor or consult a Doctor through our online HD video calling services</div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2_target" aria-expanded="false" aria-controls="faq2_target">
                  How it works
                </button>
              </p>
              <div id="faq2_target" class="accordion-collapse collapse" aria-labelledby="faq2" data-bs-parent="#faq_flush">
                <div class="accordion-body">
                    CribMD makes it possible for a patient to choose from a
                    list of doctors registered with CribMD and then choose whether to request a house visit or a video
                    call with the doctor. <br> Patients make payment for services on a
                    subscription basis; the patients pay a fixed amount of money in a month and they are covered for
                    every doctor visit for the month. <br> Doctors on the other hand get paid for
                    the number of patients they attend to. <br><b>Non Urgent
                      Request:</b>
                    <ol>
                      <li> The doctor logs into his dashboard on CribMD to schedule the times that
                        he is available during the week. </li>
                      <li>The patient comes to CribMD to book a doctor</li>
                      <li>We show the patients a list of available doctors</li>
                      <li>Patient schedules appointment with any available doctor</li>
                      <li>Doctor sees the patient at their Crib/Home or through telemedicine</li>
                      <li> Doctor writes your prescription and sends it to a pharmacy if there is
                        a prescription. </li>
                      <li>Patient rates the service received from the doctor.</li>
                      <li>Care team and doctor perform follow up as needed</li>
                    </ol><br><b>Urgent / Emergency:</b>
                    <ol>
                      <li>The patient logs into their CribMD account to book a doctor.</li>
                      <li>The patient specifies that he/she needs a doctor urgently.</li>
                      <li>We send message to every available doctor in the system.</li>
                      <li> The first doctor to accept the request attends to the patient and the
                        request is cancelled for every other doctor. </li>
                      <li> Doctor writes your prescription and sends it to a pharmacy if there is
                        a prescription. </li>
                      <li>Patient rates the service received from the doctor.</li>
                      <li>Care team and doctor perform follow up as needed</li>
                    </ol>
              </div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3_target" aria-expanded="false" aria-controls="faq3_target">
                  How does Telemedicine work
                </button>
              </p>
              <div id="faq3_target" class="accordion-collapse collapse" aria-labelledby="faq3" data-bs-parent="#faq_flush">
                <div class="accordion-body">
                  Telemedicine is essentially an innovative, online approach to helping individuals manage their well-being both proactively and preventatively.
                  Not only do telemedicine service providers help drive the cost of maintaining a healthy workforce down, they offer a faster, more convenient patient experience that keeps employees happier, fitter, and performing at their best.
                   Telemedicine makes it easier for you to get the care you need from the comfort of your own home or office. You can also have nearly anything -- prescriptions.
              </div>
              </div>
              <div id="faq3_target" class="accordion-collapse collapse" aria-labelledby="faq3" data-bs-parent="#faq_flush">
                <div class="accordion-body">
                  Telemedicine is essentially an innovative, online approach to helping individuals manage their well-being both proactively and preventatively.
                  Not only do telemedicine service providers help drive the cost of maintaining a healthy workforce down, they offer a faster, more convenient patient experience that keeps employees happier, fitter, and performing at their best.
                   Telemedicine makes it easier for you to get the care you need from the comfort of your own home or office. You can also have nearly anything -- prescriptions,
              </div>
              </div>

            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4_target" aria-expanded="false" aria-controls="faq4_target">
                  Will i pay separately for Home visit and Telemedicine?
                </button>
              </p>
              <div id="faq4_target" class="accordion-collapse collapse" aria-labelledby="faq4" data-bs-parent="#faq_flush">
                <div class="accordion-body">
                  NO! once you pay the subscription fee of $50, you have access to all our services for one month

              </div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5_target" aria-expanded="false" aria-controls="faq5_target">
                  How do i access CribMD services?
                </button>
              </p>
              <div id="faq5_target" class="accordion-collapse collapse" aria-labelledby="faq5" data-bs-parent="#faq_flush">
                <div class="accordion-body">
                  <ol>
                    <li>visit <a href="/login">www.cribmd.com</a> and
                      create an account</li>
                    <li>Pay the subscription fee</li>
                    <li>Download our app</li>
                    <li>Book a consultation on the website or on the app</li>
                  </ol>
              </div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6_target" aria-expanded="false" aria-controls="faq6_target">
                  Is CribMD services available during Covid-19?
                </button>
              </p>
              <div id="faq6_target" class="accordion-collapse collapse" aria-labelledby="faq6" data-bs-parent="#faq_flush">
                <div class="accordion-body text-bold">
                  Yes! CribMD is available to provide with medical care to you at anytime


              </div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7_target" aria-expanded="false" aria-controls="faq7_target">
                  I am a doctor currently on your Telemedicine site and I have tried several times for my number to be verified but I don't get any message to my phone with the verification code
                </button>
              </p>
              <div id="faq7_target" class="accordion-collapse collapse" aria-labelledby="faq7" data-bs-parent="#faq_flush">
                <div class="accordion-body text-bold">
                   Phone numbers and email verification are working well.
                    <br><b>Two things maybe the cause;</b>
                    <ol>
                      <li>Your network may be poor.</li>
                      <li>You may have filled out the incorrect phone number.</li>
                    </ol> Ensure you meet up with the above possible causes and retry.<br> If it
                    fails, send us your correct phone number and email via <a
                      href="mailto:ossai@cribmd.com">ossai@cribmd.com</a> with the problem you’re encountering as the
                    subject of the mail.


              </div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8_target" aria-expanded="false" aria-controls="faq8_target">
                  What is the use of the referral link on my dashboard?
                </button>
              </p>
              <div id="faq8_target" class="accordion-collapse collapse" aria-labelledby="faq8" data-bs-parent="#faq_flush">
                <div class="accordion-body text-bold">
                    <p>You can earn on CribMD by referring users to the platform</p>
                    <p> To be part of our ongoing referral program, you can share with them your
                      referral link or code which they can use to register on CribMD.com. </p>
                    <p> Your referral link takes this format; https://cribmd.com/signup?ref=******
                      where asterisks denote alphanumerics known as a user’s referral code. </p><br
                    > Once they register through your link, you will earn money. <p
                    >Earnings are as follows;</p><br> $5 for each doctor
                    referred and 40% of the package subscribed in the case of patients.
              </div>
              </div>
            </div>
            <div class="accordion-item">
              <p class="accordion-header" id="faq9">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq9_target" aria-expanded="false" aria-controls="faq9_target">
                  I am having troubles uploading my profile picture
                </button>
              </p>
              <div id="faq9_target" class="accordion-collapse collapse" aria-labelledby="faq9" data-bs-parent="#faq_flush">
                <div class="accordion-body text-bold">
                  <div class="card-body"><b>Please ensure that your document
                      complies with our file limit of 2MB and file formats of JPG or PNG, also if your network is poor,
                      you may experience challenges uploading. Ensure that;</b>
                    <ol>
                      <li>You have a good network</li>
                      <li> The files are not big, typically in the range of 0 to 2Megabytes. NB:
                        the lesser the file size, the better </li>
                    </ol>
                  </div>
              </div>
              </div>
            </div>
            <h2>Pricing and Plans</h2>
            <div class="accordion-item">
              <p class="accordion-header" id="faq10">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq10_target" aria-expanded="false" aria-controls="faq10_target">
                  How can i subscribe to the platform and book a doctor?
                </button>
              </p>
              <div id="faq10_target" class="accordion-collapse collapse" aria-labelledby="faq10" data-bs-parent="#faq_flush">
                <div class="accordion-body text-bold">
                  <ol>
                    <li>Log in to your DASHBOARD</li>
                    <li>Click on SUBSCRIPTION</li>
                    <li> Select the plan from the list of available health packages<br
                      ><b>NB:</b> Each health plan has a list of packages
                      attached to it. see more from our <a
                        href="/individual">Pricing</a> page </li>
                    <li>Click on SUBSCRIBE button</li>
                    <li>In the next page, Input your valid credit card details</li>
                    <li>Click on MAKE PAYMENT button</li>
                    <li> Once it's successful, you will have access to all our services depending
                      on the plan you subscribed for </li>
                  </ol>
              </div>
              </div>
            </div>

        <div class="accordion-item">
          <p class="accordion-header" id="faq11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq11_target" aria-expanded="false" aria-controls="faq11_target">
              What benefits does registering as a doctor offer?
            </button>
          </p>
          <div id="faq11_target" class="accordion-collapse collapse" aria-labelledby="faq11" data-bs-parent="#faq_flush">
            <div class="accordion-body text-bold">
              After being approved as a doctor, you will join the elite team of doctors at CribmD.You will be attending to our numerous patients from the comfort of your home or via doctor home visits and getting paid for it. Also, you are qualified to be part of our referral program.
          </div>
          </div>
        </div>
        <div class="accordion-item">
          <p class="accordion-header" id="faq12">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq12_target" aria-expanded="false" aria-controls="faq12_target">
              How would CribMD know if I bring someone?
            </button>
          </p>
          <div id="faq12_target" class="accordion-collapse collapse" aria-labelledby="faq12" data-bs-parent="#faq_flush">
            <div class="accordion-body text-bold">
              Every registered user has a unique referral code and link, when someone registers through your link or uses your referral code, your wallet will be credited.
          </div>
          </div>
        </div>
        <div class="accordion-item">
          <p class="accordion-header" id="faq13">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq13_target" aria-expanded="false" aria-controls="faq13_target">
              Is there a sign up fee for patients?
            </button>
          </p>
          <div id="faq13_target" class="accordion-collapse collapse" aria-labelledby="faq13" data-bs-parent="#faq_flush">
            <div class="accordion-body text-bold">
              No, there's no sign up fee for patients. Patients are only required to subscribe to any of our plans after signing up so as to access our doctors services.
          </div>
          </div>
        </div>
        <h2>Medical Questions</h2>
        <div class="accordion-item">
          <p class="accordion-header" id="faq14">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq14_target" aria-expanded="false" aria-controls="faq14_target">
              Is the site for doctors alone?
            </button>
          </p>
          <div id="faq14_target" class="accordion-collapse collapse" aria-labelledby="faq14" data-bs-parent="#faq_flush">
            <div class="accordion-body text-bold">
           <b >No!</b><br >
                <p > The platform is for both doctors, patients and pharmacists. We're currently
                  accepting registration from Doctors and Patients. You may register as a patient (if you're not a
                  doctor) to be part of our ongoing referral program and subscribe to be able to have access to all our
                  services. </p>
              </div>
            </div>
        </div>
        <div class="accordion-item">
          <p class="accordion-header" id="faq15">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq15_target" aria-expanded="false" aria-controls="faq15_target">
              Can a physiotherapist join as a doctor?
            </button>
          </p>
          <div id="faq15_target" class="accordion-collapse collapse" aria-labelledby="faq15" data-bs-parent="#faq_flush">
            <div class="accordion-body text-bold">
              Not at the moment, but we're a rapidly growing company and it's a type of treatment we'll allow through the platform if customers request it and have a health plan.
          </div>
          </div>
        </div>
        <div class="accordion-item">
          <p class="accordion-header" id="faq16">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq16_target" aria-expanded="false" aria-controls="faq16_target">
              How do I get verified as a doctor?
            </button>
          </p>
          <div id="faq16_target" class="accordion-collapse collapse" aria-labelledby="faq16" data-bs-parent="#faq_flush">
            <div class="accordion-body text-bold">
              <p> Login to your dashboard and you will be provided with an interface to upload
                your credentials <br> When you upload and submit your credentials, our medical
                team will go through them to ascertain whether you meet our requirement, once done, you will get a mail
                to notify you that you have been approved. <br><span
                  class="text-black-50">This usually takes 24hrs.</span></p>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
      <div class="col-12 col-md-3">
        <h5 class="text-center"> Most Searched Questions </h5>
        <div class="text-center"> - No questions -
        </div>
      </div>
    </div>
  </div>
</section>


  <section class="faq-container cta">
    <div class="container">
      <div class="row faq-main-container mx-0">
        <div class="col-12 col-md-9 px-0">
          <div class="faq-content">
            <div class="comp-section comp-cards">
              <div class="row">
                <div class="col-6 d-flex">
                  <div class="call-to-action">
                    <p class="text-bold">Ask a qualified doctor</p>
                    <h5>Get your Solution</h5>
                    <p>Consult a doctor without having to que up</p><button
                      routerlink="/signup" class="btn btn-outline-info" tabindex="0">Get Answers</button>
                  </div>
                </div>
                <div class="col-6 get-help">
                  <img width="400" height="300" alt="faq-img" src="assets/images/faq/get-help.png" class="get-help-img" style="object-fit: contain;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
