<section class="app-footer-top">
  <div class="row container align-items-center mx-auto px-0">
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 pl-0 ">
        <p>Start using CribMD Mobile right away</p>
        <p class="text-bold">Book a doctor appointment in less than 2 minutes via our mobile app </p>
    </div>
    <div class="col-12 col-lg-6  mt-lg-0 px-0 text-lg-end">

            <a class="me-4" target="_blank" href="https://play.google.com/store/apps/details?id=cribmd.com.CribMD" >
              <img src="assets/images/app-store-imgs/google-play.png" alt="img description">
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=cribmd.com.CribMD">
              <img src="assets/images/app-store-imgs/app-store.png" alt="img description">
            </a>
    </div>
  </div>
</section>
<section class="app-footer-bottom">
  <div class="container text-center">
    <h4 class="mb-5">Are you ready to enjoy the best healthcare from <br>the comfort of your home?</h4>
    <P class="mb-5 pb-4">Discover what makes CribMD different from other company health plan and employee benefits providers while enjoying an<br>
      affordable plan that ensures your employees remain in control of their mental and physical wellbeing.
    </P>
    <hr>
    <div class="row text-start mx-0">
      <div class="footer-about col-lg-3 col-md-4 col-sm-5 ps-0 mb-0">
        <div class="footer-logo mb-3">
          <img  src="assets/images/logo/logo-on-blue.webp" alt="cribmd logo">
        </div>
        <p>We are a technology company that offers low cost medical services from online to door-step outreach. </p>
        <div class="footer-socials d-flex my-3">
          <a href="https://facebook.com/cribmd" target="_blank"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a>
          <a href="https://twitter.com/crib_md" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
          <a href="https://www.linkedin.com/company/cribmd" target="_blank"><fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon></a>
          <a href="https://www.instagram.com/cribmd/" target="_blank"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
          <a href="https://www.youtube.com/channel/UCMiVsvcvj-ru54-gwwH3d7g" target="_blank"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a>
        </div>
        <p>
          <a href="mailto:ossai@cribmd.com">ossai@cribmd.com</a><br>
          <a href="mailto:support@cribmd.com">support@cribmd.com</a><br>
          © 2020 CribMD. All rights reserved.
        </p>
      </div>
      <div class="row col-lg-7 col-md-6 col-sm-8">
          <div class="footer-for-patients footer-group mb-4 col-6 col-md-3 pl-0 pl-lg-3" >
            <h5 class="mb-5">For patients</h5>
            <div>
              <a href="">Search for Doctors</a>
            </div>
            <div>
              <a href="">Login</a>
            </div>
            <div>
              <a href="">Register</a>
            </div>
            <div>
              <a href="">Booking</a>
            </div>
          </div>
          <div class="footer-for-patients footer-group mb-4 col-6 col-md-3 pl-0 pl-lg-3" >
            <h5 class="mb-5">For Doctors</h5>
            <div>
              <a href="">Appointments</a>
            </div>
            <div>
              <a href="">Login</a>
            </div>
            <div>
              <a href="">Register</a>
            </div>
          </div>
          <div class="footer-for-patients footer-group mb-4 col-6 col-md-3 pl-0 pl-lg-3" >
            <h5 class="mb-5">Company</h5>
            <div>
              <a href="">About Us</a>
            </div>
            <div>
              <a href="">Individual Plan</a>
            </div>
            <div>
              <a href="">Corporate Plan</a>
            </div>
            <div>
              <a href="">FAQ</a>
            </div>
          </div>
          <div class="footer-for-patients footer-group mb-4 col-6 col-md-3 pl-0 pl-lg-3" >
            <h5 class="mb-5">Legal</h5>
            <div>
              <a href="">Privacy Policy</a>
            </div>
            <div>
              <a href="">Terms of Service</a>
            </div>

          </div>



      </div>
      <div class="footer-contact footer-group col-lg-2 col-md-2 col-sm-4">
        <h5 class="mb-5">Contact</h5>
        <div class="d-flex">
          <span class="me-2 mt-1"><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon></span>
          <address> 23777 Mulholland Hwy Calabasas, California, CA 91302. </address>
        </div>
        <div class="d-flex">
          <span class="me-2 mt-1"><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon></span>
          <address> 4 Babatope Bejide Cres, Lekki Phase 1, Lagos, Nigeria 105102. </address>
        </div>
        <div class="d-flex">
          <span class="me-2 mt-1"><fa-icon [icon]="['fas', 'phone-alt']"></fa-icon></span>
          <P><a href="tel:+16312381645"> +1 631-238-1645 </a></P>
        </div>
        <div class="d-flex">
          <span class="me-2 mt-1"><fa-icon [icon]="['fas', 'phone-alt']"></fa-icon></span>
          <P> <a href="tel:+2349060346075">+234 906 034 6075</a></P>
        </div>
        <div class="d-flex">
          <span class="me-2 mt-1"><fa-icon [icon]="['fas', 'phone-alt']"></fa-icon></span>
          <P>  <a href="tel:+2348081951702">+234 808 195 1702</a></P>
        </div>
      </div>
    </div>
  </div>

</section>
