<app-logo class="centered d-flex pt-3"></app-logo>

<div class="auth-container" >
  <div role="banner" aria-roledescription="banner image of doctor and patient" class="backdrop-image doctor animate__animated ng-star-inserted animate__fadeIn"></div>
  <div role="banner" aria-roledescription="banner image of doctor smiling on video call" class="backdrop-image patient animate__animated ng-star-inserted animate__fadeOut"></div>
  login
  <a [routerLinkActive]="['link-active']"[routerLink]="['/signup']" class="nav-link" aria-current="page"> signup</a>
  <!-- <div class="text">
    <img src="assets/images/corporate/organisation.png">
  </div> -->
  <div class="text-center">
    content
  </div>
</div>
