<div class="about-us-container">
  <div  class="animation" style="height: 14867px;">
    <img  src="assets/images/animation/animated.svg"
      class="animate-animated animate-pulse animate-infinite infinite"></div>
  <section class="initial-content">
    <div class="container">
      <div class="text-center row text-align-center justify-content-center">
        <div class="col-12 col-md-8">
          <div class="caption-lg mb-3">
            Technology for health care
          </div>
          <p class="caption-desc mt-2 mb-3">
            We are are a Telemedical solutions and doctor home visit digital outreach online company <br>
            that combines modern health strategies and technological expertise to create digital <br>
            experience that addresses the challenges of medical health care accessibility by offering <br>
            low cost medical services from online to door-step outreach.
          </p>
        </div>

      </div>
    </div>
  </section>
  <section class="goals">
    <div class="container">
      <div class="row align-items-center">
        <div class="our-mission col-12 col-md-6 d-flex justify-content-start">
          <img src="assets/images/home-page/prescriptions-on-the-go.webp">
        </div>
        <div class="col-12 col-md-6 px-lg-5">
          <div class="caption-md">Our Mission </div>
          <div class="d-flex flex-column justify-content-around details mt-3">
            <div class="detail">
              <div class="mb-1">
                <p>
                  Our mission is to democratize healthcare by delivering quality,
                  affordable and accessible healthcare to everyone, irrespective of who they are.
                  We want to ensure that patients have a say and a voice in what type of care they get,
                  how and when they get the care and who gives the care. We understand the need for quality healthcare,
                  especially in this times, and we are constantly evolving to meet the challenges of everyday
                  healthcare,
                  using state of the art technology to bridge the gap more than ever before.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="goals">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-md-6 px-lg-5">
          <div class="caption-md">Our Vision </div>
          <div class="d-flex flex-column justify-content-around details mt-3">
            <div class="detail">
              <div class="mb-1">
                <p>
                  CribMD is a diverse network of doctors,
                  health workers and technology enthusiasts working to confront healthcare
                  inequity through providing healthcare at every sector of society. Together,
                  we are breaking bounds and setting new records in doctor home visits and
                  telemedicine with the aim of becoming the preeminent and most reliable
                  platform for getting medical care
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="our-vision col-12 col-md-6 d-flex justify-content-start">
          <img src="assets/images/home-page/doctor-and-family.webp">
        </div>
      </div>
    </div>
  </section>
  <section class="statistics">
    <div class="container">
      <div class="row justify-content-center align-items-center text-align-center text-center">

        <div class="col-12 col-md-8">
          <div class="caption-md">
            Our Statistics
          </div>
          <div>
            <p class="mt-2">
              We are a high impact and rapid growth tech company revolutionalizing health care for the masses.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-5 text-center">
        <div class="col-12 col-md-3 my-4 statistics">
          <div class="statistics-icon">
            <fa-icon [icon]="['fas', 'stethoscope']"></fa-icon>
          </div>
          <div class="statistics-title">
            <h1>5k+</h1>
          </div>
          <div class="statistics-caption">
            Certified Doctors
          </div>
          <div class="statistics-details">
            and Health Practitioners across all medical fields
          </div>
        </div>
        <div class="col-12 col-md-3 my-4 statistics">
          <div class="statistics-icon">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </div>
          <div class="statistics-title">
            <h1>17k+</h1>
          </div>
          <div class="statistics-caption">
            Active Users
          </div>
          <div class="statistics-details">
            have been onboarded and also successfully treated
          </div>
        </div>
        <div class="col-12 col-md-3 my-4 statistics">
          <div class="statistics-icon">
            <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>
          </div>
          <div class="statistics-title">
            <h1>$20k+</h1>
          </div>
          <div class="statistics-caption">
            Monthly Recurrent Revenue
          </div>
          <div class="statistics-details">
            has been generated since the initial launch
          </div>
        </div>
        <div class="col-12 col-md-3 my-4 statistics">
          <div class="statistics-icon">
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
          </div>
          <div class="statistics-title">
            <h1>3,000+</h1>
          </div>
          <div class="statistics-caption">
            Homes
          </div>
          <div class="statistics-details">
            visited across the globe since the initial launch
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-team-container">
    <div class="container">
      <div class="text-center row text-align-center justify-content-center">
        <div class="col-12 col-md-8">
          <div class="caption-md mb-3">
            Meet Our Team
          </div>
          <div class="caption-sm">
            Meet the team whose inspiration brings health care to your doorstep.
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center ">
        <div class="row mx-0 mt-5 our-team-container">
          <div class="col-12 col-lg-4 col-md-6 col-sm-12 my-4 order-0 order-lg-1">
            <div class="our-team">
              <figure>
                <img src="assets/images/about-us/ossai_ceo.webp" alt="Ossai -CEO">
              </figure>
              <div class="our-team-content">
                <div class="title">
                  <h3>Ossai XCI</h3>
                  <span>Co-Founder & CEO</span>
                  <p>Product Vision, Architecture, Business development</p>
                </div>
              </div>
              <P class="color-black">
                <a class="text-primary" data-bs-toggle="collapse" href="#moredetails_1" role="button"
                  aria-expanded="false" aria-controls="moredetails_1">
                  More details
                </a>
              </P>
              <div class="collapse" id="moredetails_1">
                <div class="text-center">
                  Ossai, 91st of his name, is the founder, CEO, and chairman of WeCare A global operations leader with
                  multi-site and P&L experience.
                  He has a strong track record of success aligning enterprise functions towards meeting goals,
                  exceeding financial commitments and establishing customer enthusiasm and relationships.
                  <br>
                  As an international business leader and innovator who cultivates relationships with key partners to
                  speed products to market,
                  Ossai has championed supply chain operations and distribution,
                  business diversification and growth strategies focused on additive manufacturing across the telecom,
                  aerospace and defense, and medical electronic equipment industries.
                  <a class="visit-profile" href="https://www.linkedin.com/in/ifeanyi-ossai-0a0496192/" target="_blank">
                    visit profile
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-6 col-sm-12 my-4 order-1 order-lg-0">
            <div class="our-team">
              <figure>
                <img src="assets/images/about-us/mike_cto.webp" alt="Mile -CTO">
              </figure>
              <div class="our-team-content">
                <div class="title">
                  <h3>Ngiri Michael U.</h3>
                  <span>Co-Founder & CTO</span>
                  <p>Software Engineer, business development</p>
                </div>
              </div>
              <P class="color-black  mt-3">
                <a class="text-primary" data-bs-toggle="collapse" href="#moredetails_2" role="button"
                  aria-expanded="false" aria-controls="moredetails_2">
                  More details
                </a>
              </P>
              <div class="collapse" id="moredetails_2">
                <div class="text-center">
                  A devoted Technology expert who over the years has channelled
                  his energy into developing working systems to help businesses,
                  organisations and corporations manage their infrastructure and some cases develop
                  a new and more efficient infrastructure to make for a smooth running of their organisations.
                  His goal is to enhance the adoption of new technologies in Africa and beyond<br>
                  <a class="visit-profile" href="https://www.linkedin.com/in/ngiriuchechukwu" target="_blank">
                    visit profile
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-6 col-sm-12 my-4 order-2">
            <div class="our-team">
              <figure>
                <img src="assets/images/about-us/lorna_cfo.webp" alt="Lorn -CFO">
              </figure>
              <div class="our-team-content">
                <div class="title">
                  <h3>Lorna .M Johnson</h3>
                  <span>Co-Founder & President</span>
                  <p>Health Care Expert, Business Management</p>
                </div>
              </div>
              <P class="color-black  mt-3">
                <a class="text-primary" data-bs-toggle="collapse" href="#moredetails_3" role="button"
                  aria-expanded="false" aria-controls="moredetails_3">
                  More details
                </a>
              </P>
              <div class="collapse" id="moredetails_3">
                <div class="text-center">
                  A nurse practitioner and midwife,
                  founded and runs the Advanced Family Care Medical Group East and South Central Los Angeles,
                  California The Honorable Lorna Johnson MSN, NM, NP is an accomplished business leader,
                  <br>
                  philanthropist, health care professional and community advocate.
                  A proud American citizen of Jamaican-Cuban heritage,
                  Ms. Johnson is not content to rest on her success.
                  <br>
                  She strives to help people envision better lives for themselves and encourages
                  them to utilize available resources to accomplish that goal.
                  Johnson proudly shared her diverse knowledge about healthcare as a committee
                  member on President Obama’s National Health Care Advisory Committee. <br>
                  <a class="visit-profile" href="https://lmjglobalenterprises.com/about" target="_blank">
                    visit profile
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="our-team-container mt-5">
          <div class="col-12 col-lg-4 col-md-6 col-sm-12 my-4 float-start">
            <div class="our-team">
              <figure>
                <img src="assets/images/about-us/adedapo.png" alt="Ade -CMO">
              </figure>
              <div class="our-team-content">
                <div class="title">
                  <h3>Adedapo Adesanya</h3>
                  <span>Chief Medical Officer</span>
                  <p>Medical Professional, Product foresight</p>
                </div>
              </div>
              <P class="color-black  mt-3">
                <a class="text-primary" data-bs-toggle="collapse" href="#moredetails_4" role="button"
                  aria-expanded="false" aria-controls="moredetails_4">
                  More details
                </a>
              </P>
              <div class="collapse" id="moredetails_4">
                <div class="text-center">
                  Experienced Medical Doctor with a demonstrated history of working in the Medical Practice industry.
                  Skilled in Regional Anesthesia, Prevention, Healthcare,
                  Medical Office, Patient Safety, Customer Service and Public Relations.
                  Strong healthcare services professional with a Bachelor of Medicine,
                  Bachelor of Surgery - MBBS focused in Medicine and Surgery.
                  (MB;BS) from College of medicine; University of Lagos. ACLS and BLS Certified by the American Heart
                  Association <br>
                  <a class="visit-profile" href="https://www.linkedin.com/in/adedapo-adesanya-a485aa179"
                    target="_blank">
                    visit profile
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-6 col-sm-12 my-4 float-start">
            <div class="our-team">
              <figure>
                <img src="assets/images/about-us/jon.png" alt="Jon -CCO">
              </figure>
              <div class="our-team-content">
                <div class="title">
                  <h3>Jon Benton MacKinder</h3>
                  <span>Chief Creative Office</span>
                  <p>Filmmaker, Producer</p>
                </div>
              </div>
              <P class="color-black  mt-3">
                <a class="text-primary" data-bs-toggle="collapse" href="#moredetails_5" role="button"
                  aria-expanded="false" aria-controls="moredetails_5">
                  More details
                </a>
              </P>
              <div class="collapse" id="moredetails_5">
                <div class="text-center">
                  Jon began design and building websites in the pioneer
                  days of the Internet for the Netscape 1.0 browser,
                  late 1994. He is seasoned a filmmaker and a multiple
                  award winning recording artist, performer and music producer.
                  Prior to this he was a marketing major in Southern California
                  where he created and scaled small businesses and sold them as a young entrepreneur<br>
                  <a class="visit-profile" href="https://www.linkedin.com/in/jbm/" target="_blank">
                    visit profile
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-6 col-sm-12 my-4 float-start">
            <div class="our-team">
              <figure>
                <img src="assets/images/about-us/mollie.png" alt="Mollie -VPDS">
              </figure>
              <div class="our-team-content">
                <div class="title">
                  <h3>Mollie Epstein</h3>
                  <span>VP of Program Development</span>
                  <p>Epidemiologist, Data Scientist</p>
                </div>
              </div>
              <P class="color-black  mt-3">
                <a class="text-primary" data-bs-toggle="collapse" href="#moredetails_5" role="button"
                  aria-expanded="false" aria-controls="moredetails_5">
                  More details
                </a>
              </P>
              <div class="collapse" id="moredetails_5">
                <div class="text-center">
                  Mollie is a seasoned research designer, experienced in primary and secondary data analysis,
                  and clear presentation of results. Significant experience with grant-writing,
                  project development, coordination and management, as well as database creation,
                  management and analysis. Proficient with STATA, R, and SAS.<br>
                  <a class="visit-profile" href="https://www.linkedin.com/in/jbm/" target="_blank">
                    visit profile
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row mt-5 justify-content-center align-self-center">
            <div class="col-md-12 text-center caption-sm mb-5">
              <h1>Other Team Members</h1>
            </div>
            <div class="row">
              <swiper [slidesPerView]="5" [spaceBetween]="30" [loop]="true" [grabCursor]="true" [autoplay]="{
                  delay: 2500,
                  disableOnInteraction: false
                }" [breakpoints]="{
                  '0': {
                    slidesPerView: 1,
                    spaceBetween: 20
                  },
                  '640': {
                    slidesPerView: 2,
                    spaceBetween: 20
                  },
                  '768': {
                    slidesPerView: 4,
                    spaceBetween: 40
                  },
                  '1024': {
                    slidesPerView: 5,
                    spaceBetween: 50
                  }
                }">
                <ng-template swiperSlide *ngFor='let slide of swiper_slides'>
                  <img src="{{slide.imageUrl}}" alt="slide.name">
                  <div class="detail">
                    <h3>{{slide.name}}<br>
                      <span>{{slide.role}}</span>
                    </h3>
                  </div>
                </ng-template>

              </swiper>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-doctors">
    <div class="container">
      <div class="text-center row text-align-center justify-content-center">
        <div class="col-12 col-md-8">
          <div class="caption-md mb-3">
            Meet Our Advisors
          </div>
          <div class="caption-xs">
            Meet the team whose dedication and professionalism brings health care to your doorstep.
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <swiper [slidesPerView]="1" [spaceBetween]="30" [loop]="true" [grabCursor]="true" [effect]="'coverflow'"
          [coverflowEffect]="{
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }" [centeredSlides]="true" [autoplay]="{
        delay: 2500,
        disableOnInteraction: false
      }" [breakpoints]="{
        '0': {
          slidesPerView: 1,
          spaceBetween: 20
        },
        '640': {
          slidesPerView: 2,
          spaceBetween: 20
        },
        '768': {
          slidesPerView: 4,
          spaceBetween: 40
        },
        '1024': {
          slidesPerView: 5,
          spaceBetween: 50
        }
      }">
          <ng-template swiperSlide *ngFor='let slide of advisors_slides'>
            <img src="{{slide.imageUrl}}" alt="slide.name">
            <div class="detail">
              <h3>{{slide.name}}</h3>
            </div>
          </ng-template>

        </swiper>
      </div>
    </div>
  </section>
  <section class="our-doctors">
    <div class="container">
      <div class="text-center row text-align-center justify-content-center">
        <div class="col-12 col-md-8">
          <div class="caption-md mb-3">
            Meet Our Doctors
          </div>
          <div class="caption-xs">
            Meet the team whose dedication and professionalism brings health care to your doorstep.
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-self-center">
        <div class="our-team-container mt-5">
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 my-4 float-start" *ngFor= "let content of doctors_contents">
            <div class="our-team">
              <figure class="our-team-img">
                <img src="{{content.imageUrl}}" alt="doctors image"></figure>
              <div class="our-team-content">
                <div class="title"><span
                    class="color-black">{{content.profession}}</span>
                  <h3>{{content.name}}</h3>
                </div>
                <P class="color-black p-2 mt-3 mb-3">
                  {{content.details}}
                  <a class="text-primary" data-bs-toggle="collapse" href="#{{content.toggleID}}" role="button"
                    aria-expanded="false" aria-controls="">
                      Read More
                  </a>
                </P>
                <div class="collapse" id="{{content.toggleID}}">
                  <div class="text-center">
                   {{content.read_more}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="investors">
    <div class="container text-center">
      <div class="text-center row text-align-center justify-content-center">
        <div class="col-12 col-md-8">
          <div class="caption-md mb-3">
            Our Investors

          </div>
          <div class="caption-xs">
            We’re fully backed by...

          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-content-center mt-4 mx-0">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/sputnik-logo.webp" alt="sputnik ATX">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/norrsken-logo.webp" alt="norrsken">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/guardian.webp" alt="The Guardian">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="partners">
    <div class="container px-0">
      <div class="row justify-content-center mx-0">
        <div class="text-center row text-align-center justify-content-center">
          <div class="col-12 col-md-8">
            <div class="caption-md mb-3">
              Our Partners
            </div>
            <div class="caption-xs">
              We share our vision and passion to bring affordable healthcare to everyone with these organizations
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center flex-wrap mt-3">
          <div class="partner col-6 col-md-3 col-sm-4 col-lg-2 mb-3 px-2" *ngFor="let link of links">
            <img src="{{link.url}}" alt="partner">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cta-section">
    <div class="container px-0">
      <div class="row mx-0">
        <div class="col-12 col-md-8">
          <h2 class="text-primary text-bold"> Are You A Doctor Who Is Interested in joining our network?
           </h2>
          <p class="color-black"> From the comfort of your home, provide services to people and help save more lives. </p>
            <a routerlink="/signup" class="btn btn-primary text-bold cta-btn" href="/signup"> Join Us </a>
        </div>
      </div>
      <img src="assets/images/about-us/Slider-3.png" class="cta-poster">
    </div>
  </section>
  <app-footer></app-footer>
</div>
