<div class="corporate-plan-container">
  <div class="animation"><svg width="2650" height="3111" xmlns="http://www.w3.org/2000/svg" class="svg-bubbles">
    <g fill="none" fill-rule="evenodd">
      <circle fill="#0B3F89" cx="43" cy="37" r="10" data-svg-origin="33 27"
        transform="matrix(1,0,0,1,77.6644,31.0147)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#BF1C7A" cx="163" cy="358" r="15" data-svg-origin="148 343"
        transform="matrix(1,0,0,1,61.7542,35.4303)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#BF1C7A" cx="2042" cy="823" r="15" data-svg-origin="2027 808"
        transform="matrix(1,0,0,1,51.8883,54.7473)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#FA6400" cx="675" cy="590" r="15" data-svg-origin="660 575"
        transform="matrix(1,0,0,1,2.6672,78.6665)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#0091FF" cx="1085" cy="200" r="15" data-svg-origin="1070 185"
        transform="matrix(1,0,0,1,57.6377,92.533)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#FA6400" cx="2437" cy="42" r="15" data-svg-origin="2422 27"
        transform="matrix(1,0,0,1,50.5973,29.7028)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#651CBF" cx="2560" cy="610" r="20" data-svg-origin="2540 590"
        transform="matrix(1,0,0,1,92.2114,83.148)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#E02020" cx="2475" cy="1390" r="15" data-svg-origin="2460 1375"
        transform="matrix(1,0,0,1,62.5923,60.1041)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#44D7B6" cx="2322" cy="1856" r="20" data-svg-origin="2302 1836"
        transform="matrix(1,0,0,1,13.3693,35.4689)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#F7B500" cx="1705" cy="2074" r="15" data-svg-origin="1690 2059"
        transform="matrix(1,0,0,1,75.2973,90.2427)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#6DD400" cx="1428" cy="1629" r="15" data-svg-origin="1413 1614"
        transform="matrix(1,0,0,1,47.7314,48.2851)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#E02020" cx="1121" cy="1135" r="15" data-svg-origin="1106 1120"
        transform="matrix(1,0,0,1,31.6208,44.0948)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#651CBF" cx="1785" cy="1227" r="15" data-svg-origin="1770 1212"
        transform="matrix(1,0,0,1,13.326,87.0601)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#0091FF" cx="721" cy="1669" r="15" data-svg-origin="706 1654"
        transform="matrix(1,0,0,1,18.8255,16.4722)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#44D7B6" cx="1041" cy="2267" r="15" data-svg-origin="1026 2252"
        transform="matrix(1,0,0,1,93.4966,70.4895)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#E02020" cx="15" cy="2596" r="15" data-svg-origin="0 2581"
        transform="matrix(1,0,0,1,86.6751,28.1499)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#FA6400" cx="155" cy="2029" r="10" data-svg-origin="145 2019"
        transform="matrix(1,0,0,1,83.9076,40.2833)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#F7B500" cx="681" cy="2676" r="15" data-svg-origin="666 2661"
        transform="matrix(1,0,0,1,95.504,28.3564)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#0091FF" cx="1203" cy="2975" r="17" data-svg-origin="1186 2958"
        transform="matrix(1,0,0,1,84.7478,58.1752)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#651CBF" cx="1705" cy="2636" r="15" data-svg-origin="1690 2621"
        transform="matrix(1,0,0,1,21.0303,96.9449)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#32C5FF" cx="2435" cy="2893" r="15" data-svg-origin="2420 2878"
        transform="matrix(1,0,0,1,13.6393,6.8751)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#E02020" cx="2635" cy="2307" r="15" data-svg-origin="2620 2292"
        transform="matrix(1,0,0,1,22.9195,88.136)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#F7B500" cx="1455.5" cy="542.5" r="17.5" data-svg-origin="1438 525"
        transform="matrix(1,0,0,1,49.3813,62.9563)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#32C5FF" transform="matrix(-1,0,0,-1,1414.9021,40.3935)" cx="721" cy="15" r="15"
        data-svg-origin="706 0" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#B620E0" cx="1953" cy="211" r="15" data-svg-origin="1938 196"
        transform="matrix(1,0,0,1,87.7155,12.4357)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#651CBF" cx="80" cy="1470" r="15" data-svg-origin="65 1455"
        transform="matrix(1,0,0,1,80.5737,57.3083)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#44D7B6" cx="237" cy="988" r="15" data-svg-origin="222 973"
        transform="matrix(1,0,0,1,56.8569,15.6342)" style="transform-origin: 0px 0px;"></circle>
      <circle fill="#651CBF" cx="259" cy="3096" r="15" data-svg-origin="244 3081"
        transform="matrix(1,0,0,1,61.0308,12.3455)" style="transform-origin: 0px 0px;"></circle>
    </g>
  </svg>
</div>
  <section class="section-initial-content">
    <div class="container initial-content row mx-auto align-items-center justify-content-center">
      <div class="col-md-7">
        <h1>The digital health consultation platform just for you</h1>
        <p class="description">Skip the waiting room and instantly connect with
          verified medical practitioners for quality healthcare 24/7.</p>
        <a href='/' class="large-btn cta-btn text-bold">Find a doctor</a>
      </div>
      <div class="col-md-5 d-none d-md-flex justify-content-center">
        <div class="img-pattern img-poster float-end">
          <img src="https://source.unsplash.com/500x500/?corporate, offices"></div>
      </div>
    </div>

  </section>
  <section class="corporate-comment mb-4">
    <div class="container mt-5 pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12">
          <div class="color-black text-center"> At CribMD, we recognize the effect of
            employee health and wellbeing in your organization's strategy. This is why we are available to help your
            employees flourish with a health plan tailored to their health needs and your organization's objectives.
            Whether it is about encouraging commitment or managing productivity, the CribMD Corporate Health Plan keeps
            you in charge. </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hiw-section">
    <div class="container pb-3">
      <div class="row justify-content-center align-self-center">
        <div class="col-12 col-md-8">
          <div class="caption-md text-center mb-5 mt-5">How it works</div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-12 col-md-5">
          <div><img src="assets/images/corporate/organisation.png"
              class="img-fluid"></div>
        </div>
        <div class="col-12 col-md-7 justify-content-center align-self-center px-5">
          <h3 class="color-black mb-4">Create an Organisation</h3>
          <div class="caption-p"> If you don’t already have an account with CribMD, then
            you first need to create an account with CribMD as you automatically become the overall admin of the
            Organisation. Afterwards, you create an organisation using the name of your company. </div>
        </div>
      </div>
      <div class="row p-5">

        <div class="col-12 col-md-7 justify-content-center align-self-center px-5">
          <h3 class="color-black mb-4">Purchase slots for your members</h3>
          <div class="caption-p"> Secondly, you then need to purchase slots
            for the members that you’ll add to your organisation.
             You can do this easily by choosing your preferred plan between
             Corporate Classic and Corporate Executive and you purchase slots available within those plans.
              Please note that you can have the two plans within your organisation,
             depending on how you want to attribute it to your team members. </div>
        </div>
        <div class="col-12 col-md-5">
          <div><img src="assets/images/corporate/credit.png"
              class="img-fluid"></div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-12 col-md-5">
          <div><img src="assets/images/corporate/member.png"
              class="img-fluid"></div>
        </div>
        <div class="col-12 col-md-7 justify-content-center align-self-center px-5">
          <h3 class="color-black mb-4">Add Members to start using the Plan</h3>
          <div class="caption-p">We have gotten to the final step. All you need do now is add the team members
             that you want to enjoy your Corporate Plan to the purchased slots and voila!
             You’re good to start enjoying all the benefits of the corporate plan. </div>
        </div>
      </div>

      <div class="col-12 text-center mb-5">
        <P class="caption-sm mb-3">Are you ready to begin this journey with us? Click the button below to get started.</P>
        <a class="btn btn-primary cta-btn text-bold mt-3 ">
          Get Started
        </a>
      </div>
    </div>
  </section>
  <section class="benefits">
      <div class="container">
        <div class="row justify-content-center align-self-center mb-5">
          <div class="col-12 col-md-8">
            <div class="caption-md text-center mb-5 mt-5">Benefits</div>
          </div>
          <div class="col-12 col-md-12 text-center text-lg">
            Investing in the right health benefits helps retain the best talents and lowers the number of employee's sick days.
            CribMD's corporate health plan offers companies various healthcare coverage options and benefits to suit different budgets.
            Your company can opt for our Corporate Classic Plan offering essential benefits or our corporate executive plan,
             which is more comprehensive and includes a wide range of optional features, all focused on delivering better employee health management.
          </div>
        </div>
        <div class="row benefits-table table-responsive table-responsive-sm justify-content-center align-self-center">
          <table class="table table-borderless text-center">
            <thead>
              <tr>
                <th>Benefit</th>
                <th>Benefit Description</th>
                <th>Classic Plan</th>
                <th>Executive Plan</th>
              </tr>
            </thead>
            <tbody>
              <tr class="stripe">
                <td>Fee</td>
                <td></td>
                <td> ₦5,000/Month <br> ₦55,000/Year </td>
                <td> ₦19,000/Month <br> ₦209,000/Year </td>
              </tr>
              <tr class="unstripe">
                <td>Countries of Coverage</td>
                <td></td>
                <td>Nigeria &amp; india</td>
                <td>Nigeria &amp; india</td>
              </tr>
              <tr class="stripe">
                <td>Consultations</td>
                <td>In Patient and Out Patient Care, General and Specialist Consultation</td>
                <td>Covered (Outpatients and Inpatients)</td>
                <td>Covered (Outpatients and Inpatients)</td>
              </tr>
              <tr class="unstripe">
                <td>Treatment of Basic Medical and Surgical Cases</td>
                <td></td>
                <td>Up to ₦200,000 after 6 months wait period</td>
                <td>Up to ₦500,000 after 6 months wait period</td>
              </tr>
              <tr class="stripe">
                <td>Chat with Doctors</td>
                <td>Free chat for medical information and consultations</td>
                <td>Covered</td>
                <td>Covered</td>
              </tr>
              <tr class="unstripe">
                <td>Admission, Accommodation &amp; Feeding</td>
                <td>Hospital Ward Care</td>
                <td>Covered</td>
                <td>Covered</td>
              </tr>
              <tr class="stripe">
                <td>Obstetrics Care</td>
                <td>Ante-Natal Care and Delivery</td>
                <td>Not Covered</td>
                <td>Covered</td>
              </tr>
            </tbody>
          </table>
          <div class="col-12 col-md-12 text-center mt-5 mb-3">
            <a class="btn btn-primary cta-btn text-bold mt-3 ">
             Download full coverage document
            </a>
          </div>
        </div>
      </div>

  </section>
  <section class="testimonial">
   <div class="container">
     <div class="row align-items-center testimony" >
       <div class="testimony-image col-12 col-md-8 d-flex justify-content-center"><img
           src="assets/images/corporate/auth-qoute.png"></div>
       <div class="col-12 col-md-4 justify-content-start quote-container">
         <figure class="quote">
           <blockquote> We began using the CribMD platform in 2020 during the pandemic to have
             safe and easy access to quality and urgent healthcare. Other staff members and I have been thrilled with
             how great everything turned out. Using their services, the doctors seemed very interested in my physical
             and mental comfort and explained everything in detail. I highly recommend CribMD to any organization
             seeking ways to get the best healthcare treatment at an affordable cost. </blockquote>
           <figcaption>— <b>Kola Durotimi</b></figcaption>
           <figcaption><cite>CEO, Bamswell LTD, Lagos Nigeria</cite>
           </figcaption>
         </figure>
       </div>
     </div>
     <div class="row align-items-center justify-content-center">
       <div class="col-12 col-md-4 justify-content-start border-end">
         <figure>
           <blockquote> At Cornerstone, we believe that a positive attitude and pleasant work
             environment can be achieved when employees are healthy, and that's why we've decided to integrate CribMD's
             corporate health plan into our organization's system. It has been such a great experience all the way as
             CribMD has proven to be highly effective, especially with their Doctor Home Visit service. </blockquote>
           <figcaption>— <b>Maxwell Onyekwere</b></figcaption>
           <figcaption><cite>Business Director, Cornerstone, Lagos Nigeria
             </cite></figcaption>
         </figure>
       </div>
       <div class="col-12 col-md-4 justify-content-start border-end border-sm-mone">
         <figure>
           <blockquote> Most medical practitioners are always in such a hurry that they barely
             catch your name. Thankfully, that's not CribMD. They have shown us that there are doctors in this world who
             are willing to go above and beyond. Thanks to Ossai, all the doctors, and every team member for putting
             this up! </blockquote>
           <figcaption>— <b>Timi Bolaji</b></figcaption>
           <figcaption><cite>CEO, synixe LTD, Ibadan Nigeria</cite>
           </figcaption>
         </figure>
       </div>
       <div class="col-12 col-md-4 justify-content-start">
         <figure>
           <blockquote> We decided to change our health plan since it wasn't giving the best
             service for the amount we were paying. A friend then suggested we try CribMD. Though I was skeptical, I
             decided to have a personal experience myself before getting all employees on board. It was a beautiful
             experience for me, especially with their customer support's prompt response. Thanks to CribMD, my team and
             I have no reason to worry about our health issues anymore. </blockquote>
           <figcaption>— <b>Evans Adegboyega</b></figcaption>
           <figcaption><cite>Manager, Jumboro Group, Lagos Nigeria</cite>
           </figcaption>
         </figure>
       </div>
     </div>
   </div>
  </section>
  <section class="more-benefits">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="col-12 px-3 mb-4">
          <h2 class="text-center">More Benefits</h2>
        </div>
      </div>
      <div class="row justify-content-center align-self-center text-center more-d">
        <div class="col-12 col-md-3 p-4"><img alt="benefit"
            src="/assets/images/corporate/user-flow.svg">
          <p>Our plans are simple to use, from registration to usage</p>
        </div>
        <div class="col-12 col-md-3 p-4"><img alt="benefit"
            src="/assets/images/corporate/Mobile-inbox.svg">
          <p> You can do it all on the app, from chat with doctor, home care or gym authorization</p>
        </div>
        <div class="col-12 col-md-3 p-4"><img alt="benefit"
            src="/assets/images/corporate/Doctor-pana.svg">
          <p>Our doctors are on hand to get involved with patient care and of course treatment</p>
        </div>
        <div class="col-12 col-md-3 p-4"><img alt="benefit"
            src="/assets/images/corporate/Problem-solving.svg">
          <p>We offer relevant solutions to identified issues</p>
        </div>
        <div class="col-12 col-md-3 p-4"><img alt="benefit"
            src="/assets/images/corporate/Building-pana.svg">
          <p>Our hospital network is widespread all across the nation</p>
        </div>
        <div class="col-12 col-md-3 p-4"><img alt="benefit"
            src="/assets/images/corporate/online-doctor.svg">
          <p>Our doctors are available to attend to you 24/7.</p>
        </div>
        <!---->
      </div>
    </div>
  </section>
  <section class="investors">
    <div class="container text-center">
      <div class="text-center row text-align-center justify-content-center">
        <div class="col-12 col-md-8">
          <div class="caption-md mb-3">
           <h2> Our Investors
          </h2>
          </div>
          <div class="caption-xs">
            We’re fully backed by...

          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-content-center mt-4 mx-0">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/sputnik-logo.webp" alt="sputnik ATX">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/norrsken-logo.webp" alt="norrsken">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/guardian.webp" alt="The Guardian">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="partners">
    <div class="container px-0">
      <div class="row justify-content-center mx-0">
        <div class="text-center row text-align-center justify-content-center">
          <div class="col-12 col-md-8">
            <div class="caption-md mb-3">
             <h2> Our Partners</h2>
            </div>
            <div class="caption-xs">
             <P> We’re working with trusted organizations in healthcare, policy and beyond:

            </P>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center flex-wrap mt-3">
          <div class="partner col-6 col-md-3 col-sm-4 col-lg-2 mb-3 px-2" *ngFor="let link of links">
            <img src="{{link.url}}" alt="partner">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 text-center mt-5 mb-3">
        <a class="btn btn-primary cta-btn text-bold mt-3 ">
          Let's work together
        </a>
      </div>

    </div>
  </section>
  <app-footer></app-footer>
</div>
