<app-logo class="centered d-flex pt-3 text-center"></app-logo>

<section class="row auth-route p-xs-5 signup-segment">
  <div class="container text-center">
    <h2 class="mt-3"> Sign up now to access world-class healthcare on your schedule with CribMD! </h2>
    <p class="pt-2"> CribMD offers low-cost, personalized healthcare with
      technology-driven solutions. We cover all your health care needs. </p>
      </div>
      <div class="container sign-up-as-buttons-container anim-fade-slide-up">
        <button class="btn btn-primary">Sign up as a Patient</button>
        <button class="btn btn-outline-success">Sign up as a Doctor</button>
        <button class="btn btn-outline-info">Sign up as a Business</button>

      </div>
      <div
        class="text-black-50 login-link-container py-2 mt-3 container text-center w-100 animate__animated animate__fadeInUp">
        Have an account already?
        <a [routerLink]="['/login']" class="login-link" aria-current="page"> login</a>

      </div>

</section>
