.crib-logo img {
    width: 8rem;
    border-left: 0.0625rem solid #ddd;
    padding: 0.125rem 0 0.125rem 0.5rem;
    margin-left: 1.925rem;
    min-height: 2.35rem;
    max-height: 2.5rem;
}

.crib-logo .flag-icon{
      font-size: 0.75rem;
      transform: scale(1.55, 1);
      margin-left: 0.125rem;
      align-self: center;
      max-width: 1rem;
      position: absolute;
      margin-top: 0.7rem;
      box-shadow: 0 0.125rem 0.75rem rgb(0 0 0 / 15%);
}
