@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Light.ttf');
}

/* for scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E49E67;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e78e49;
}

body,
html {
  height: auto;
  width: 100%;
  margin: 0;
  font-weight: 300;
  overflow-x:hidden
}

body {
  background-color: #fff;
  font-family: Lato, Helvetica Neue, sans-serif;
  font-size: 1rem !important;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden !important;
}


/* tags */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading-default,
app-layout h1,
app-layout h2,
app-layout h3,
app-layout h4,
app-layout h5,
app-layout h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0d2344;
  font-family: Poppins, sans-serif;
  margin: .5rem 0;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h6,
h1,
h2,
h3,
h4,
h5 {
  margin: .5rem 0;
}

h1 {
  font-size: 2.24em;
  font-weight: 800 !important;
}

.h2,
h2 {
  font-size: 2em;
  font-weight: 800 !important;
}

.h3,
h3 {
  font-size: 1.75em;
  font-weight: 700 !important;
}

.h4,
h4 {
  font-size: 1.5em;
  font-weight: 700 !important;
}

.h5,
h5 {
  font-size: 1.25em;
  font-weight: 600 !important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a[class*=btn],
a[class*=button],
a[class*=nav-link],
a[mat-icon-button],
button[class*=btn],
button[class*=button],
button[class*=nav-link],
button[mat-icon-button] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 2.75rem;
  padding: 0 1.25rem;
  border-radius: .425rem;
}

a,
a[class*=btn],
a[class*=button],
a[class*=nav-link],
button,
button[class*=btn],
button[class*=button],
button[class*=nav-link] {
  transition: .3s;
  font-weight: 400;
}

img {
  vertical-align: middle;
  border-style: none;
}

img {
  transition: .5s;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

/* hover properties */
a:focus,
a:hover {
  color: #c67432;
}

b,
strong {
  font-weight: 700;
}

main {
  position: relative;
}

/* routes */
app-nav:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #f5f8fc;
  border-radius: 0;
  box-shadow: none;
  opacity: .88;
  transition: .3s;
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
}

app-nav {
  left: 0;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1001;
  border-bottom: .0625rem solid #eee;
}

app-footer {
  color: #fff;
  display: block;
}

app-footer a {
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
  transition: .25s;
  border-radius: .5rem;
}

app-footer a:focus,
app-footer a:hover {
  text-decoration: underline;
  transform: scale(1.1) translateY(-.125rem);
}

app-footer h4 {
  font-size: 1.875rem;
  line-height: 150%;
  color: white;
}

app-footer .row {
  font-size: .875rem;
}

app-footer * {
  color: inherit;
}

app-footer hr {
  background-color: hsla(0, 0%, 100%, .3);
  margin-bottom: 2.2rem;
}

/* colors */
.color-grey {
  color: grey !important;
}

.color-black {
  color: #1c1c1c !important;
}

/* custom */

.text-bold {
  font-weight: 600;
}

.main-wrapper {
  font-size: 1.125rem;
}

.white-space-nowrap {
  white-space: nowrap;
}



a.cta-btn,
button.cta-btn {
  min-height: 3.25rem;
  min-width: 16.75rem;
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
  background-color: #1971f5 !important;
  color: #fff !important;
  border: none !important;
  font-weight: 700;
}

.align-content-center {
  align-content: center !important;
}

/* authentication component */
.auth-container .backdrop-image.doctor {
  background-image: url(assets/images/auth/cribMD_doctor.webp) !important;
}

.auth-container .backdrop-image.patient {
  background-image: url(assets/images/auth/patient_image_2.webp) !important;
}

.auth-container .corporate-create-org .auth-route,
.auth-container app-forgot-password .auth-route,
.auth-container app-login .auth-route,
.auth-container app-reset-password .auth-route,
.auth-container app-signup .auth-route {
  align-content: flex-start;
  width: 100%;
  flex-wrap: unset;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 4;
  border-radius: 0 .75rem .75rem 0;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
}

.auth-container .corporate-create-org .auth-route>*,
.auth-container app-forgot-password .auth-route>*,
.auth-container app-login .auth-route>*,
.auth-container app-reset-password .auth-route>*,
.auth-container app-signup .auth-route>* {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.auth-container .corporate-create-org h1,
.auth-container .corporate-create-org h2,
.auth-container app-forgot-password h1,
.auth-container app-forgot-password h2,
.auth-container app-login h1,
.auth-container app-login h2,
.auth-container app-reset-password h1,
.auth-container app-reset-password h2,
.auth-container app-signup h1,
.auth-container app-signup h2 {
  font-family: Poppins, Lato, Helvetica Neue, sans-serif;
  color: #222;
  font-weight: bolder;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.auth-container .corporate-create-org h1+p,
.auth-container .corporate-create-org h2+p,
.auth-container app-forgot-password h1+p,
.auth-container app-forgot-password h2+p,
.auth-container app-login h1+p,
.auth-container app-login h2+p,
.auth-container app-reset-password h1+p,
.auth-container app-reset-password h2+p,
.auth-container app-signup h1+p,
.auth-container app-signup h2+p {
  margin-bottom: 1.25rem;
  font-family: Lato;
}
.auth-container .corporate-create-org.row,
.auth-container .corporate-create-org .row,
.auth-container app-forgot-password .row,
.auth-container app-forgot-password  .row,
.auth-container app-login.row,
.auth-container app-login .row,
.auth-container app-reset-password.row,
.auth-container app-reset-password .row,
.auth-container app-signup .row,
.auth-container app-signup .row {
  margin: 0;
}

.auth-container .backdrop-image {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

/* swiper component */
.swiper-slide .detail,
.swiper-slide .details {
  box-sizing: border-box;
  padding: 15px;
  background: none;
}

.swiper-slide .detail h3,
.swiper-slide .details h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

.swiper-slide img {
  width: 220px;
  height: 220px;
  border-radius: 69% 31% 68% 32%/30% 71% 29% 70%;
}

.swiper-slide .detail h3 span {
  font-size: 12px;
  color: #555;
}

/*home-page news section */
.main-container .news-carousel .owl-stage-outer {
  overflow: visible;
}

.main-container .news-carousel .owl-item {
  display: flex;
  position: relative;
  z-index: 0;
  transform: scale(.75);
  transition: .3s;
}

.main-container .news-carousel .owl-item.active {
  display: flex;
  z-index: 3;
  transform: scale(1);
  transition: .3s;
}

.main-container .news-carousel .card:focus-within,
.main-container .news-carousel .card:hover {
  transform: scale(1.075);
  box-shadow: 0 0 3rem rgb(0 0 0 / 30%);
  transition: .3s;
}

/* animation */
.animation {
  width: 100vw;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
}

.animation svg {
  -o-object-fit: cover;
  object-fit: cover;
  opacity: .8;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.animation img {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  width: 100%;
  height: 100%;
  opacity: .8;
}

.animate-animated.animate-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate-pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.animate-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate-fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animate-fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.anim__fade-slide-up{
  -webkit-animation: anim__fadeSlideUp 1s cubic-bezier(.1,1,.35,1) backwards;
  animation: anim__fadeSlideUp 1s cubic-bezier(.1,1,.35,1) backwards;
}
/* setup for different media screens */

@media (min-width: 768px) and (max-width: 1000px) {
  .collapse {
      display: none !important;
  }
}


@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
