<div class="main-container ">
  <div class="animation"><svg width="2650" height="3111" xmlns="http://www.w3.org/2000/svg"
      class="svg-bubbles">
      <g fill="none" fill-rule="evenodd">
        <circle fill="#0B3F89" cx="43" cy="37" r="10" data-svg-origin="33 27"
          transform="matrix(1,0,0,1,31.6856,87.2424)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#BF1C7A" cx="163" cy="358" r="15" data-svg-origin="148 343"
          transform="matrix(1,0,0,1,43.839,83.9302)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#BF1C7A" cx="2042" cy="823" r="15" data-svg-origin="2027 808"
          transform="matrix(1,0,0,1,61.0452,94.4741)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#FA6400" cx="675" cy="590" r="15" data-svg-origin="660 575"
          transform="matrix(1,0,0,1,50.0626,33.1002)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#0091FF" cx="1085" cy="200" r="15" data-svg-origin="1070 185"
          transform="matrix(1,0,0,1,55.3847,28.4949)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#FA6400" cx="2437" cy="42" r="15" data-svg-origin="2422 27"
          transform="matrix(1,0,0,1,9.3084,62.1871)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#651CBF" cx="2560" cy="610" r="20" data-svg-origin="2540 590"
          transform="matrix(1,0,0,1,58.1162,65.6882)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#E02020" cx="2475" cy="1390" r="15" data-svg-origin="2460 1375"
          transform="matrix(1,0,0,1,16.5723,53.5648)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#44D7B6" cx="2322" cy="1856" r="20" data-svg-origin="2302 1836"
          transform="matrix(1,0,0,1,87.0066,64.4041)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#F7B500" cx="1705" cy="2074" r="15" data-svg-origin="1690 2059"
          transform="matrix(1,0,0,1,21.1046,40.5387)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#6DD400" cx="1428" cy="1629" r="15" data-svg-origin="1413 1614"
          transform="matrix(1,0,0,1,38.7344,78.1661)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#E02020" cx="1121" cy="1135" r="15" data-svg-origin="1106 1120"
          transform="matrix(1,0,0,1,35.7377,19.7203)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#651CBF" cx="1785" cy="1227" r="15" data-svg-origin="1770 1212"
          transform="matrix(1,0,0,1,6.5053,7.9162)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#0091FF" cx="721" cy="1669" r="15" data-svg-origin="706 1654"
          transform="matrix(1,0,0,1,16.5712,7.817)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#44D7B6" cx="1041" cy="2267" r="15" data-svg-origin="1026 2252"
          transform="matrix(1,0,0,1,88.539,94.6534)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#E02020" cx="15" cy="2596" r="15" data-svg-origin="0 2581"
          transform="matrix(1,0,0,1,49.02,95.4205)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#FA6400" cx="155" cy="2029" r="10" data-svg-origin="145 2019"
          transform="matrix(1,0,0,1,85.5266,4.6991)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#F7B500" cx="681" cy="2676" r="15" data-svg-origin="666 2661"
          transform="matrix(1,0,0,1,56.567,64.3843)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#0091FF" cx="1203" cy="2975" r="17" data-svg-origin="1186 2958"
          transform="matrix(1,0,0,1,24.7667,13.2973)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#651CBF" cx="1705" cy="2636" r="15" data-svg-origin="1690 2621"
          transform="matrix(1,0,0,1,71.4061,53.1376)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#32C5FF" cx="2435" cy="2893" r="15" data-svg-origin="2420 2878"
          transform="matrix(1,0,0,1,83.7476,29.9098)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#E02020" cx="2635" cy="2307" r="15" data-svg-origin="2620 2292"
          transform="matrix(1,0,0,1,80.7536,46.0848)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#F7B500" cx="1455.5" cy="542.5" r="17.5" data-svg-origin="1438 525"
          transform="matrix(1,0,0,1,61.9268,13.3476)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#32C5FF" transform="matrix(-1,0,0,-1,1486.7506,76.6156)" cx="721" cy="15" r="15"
          data-svg-origin="706 0" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#B620E0" cx="1953" cy="211" r="15" data-svg-origin="1938 196"
          transform="matrix(1,0,0,1,20.0954,57.901)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#651CBF" cx="80" cy="1470" r="15" data-svg-origin="65 1455"
          transform="matrix(1,0,0,1,39.4902,60.3727)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#44D7B6" cx="237" cy="988" r="15" data-svg-origin="222 973"
          transform="matrix(1,0,0,1,96.602,65.4752)" style="transform-origin: 0px 0px;"></circle>
        <circle fill="#651CBF" cx="259" cy="3096" r="15" data-svg-origin="244 3081"
          transform="matrix(1,0,0,1,92.2939,46.9233)" style="transform-origin: 0px 0px;"></circle>
      </g>
    </svg></div>
  <section class="section-initial-content">
    <div class="container backdrop"><svg width="583px" height="583px" viewBox="0 0 583 583"
        version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="flow">
            <circle id="backgroud" fill-opacity="0.123037587" fill="#9ABFF3" cx="291.5" cy="291.5" r="291.5"></circle>
            <g transform="translate(73.000000, 68.000000)" stroke="#fff" stroke-linecap="round" stroke-width="3">
              <circle id="circle1" stroke-opacity="0.20427229" cx="222.5" cy="222.5" r="116.6197"></circle>
              <circle id="circle2" stroke-opacity="0.2" cx="223" cy="220" r="212.4297"></circle>
            </g>
          </g>
        </g>
      </svg></div>
    <div class="container initial-content row mx-auto">
      <div class="col-md-6">
        <h1>The digital health consultation platform just for you</h1>
        <p class="description">Skip the waiting room and instantly connect with
          verified medical practitioners for quality healthcare 24/7.</p>
        <a href='/signup' class="large-btn cta-btn text-bold">Find a doctor</a>
      </div>
      <div class="col-md-6 d-none d-md-flex justify-content-center">
        <div class="initial-content-img">
          <img src="assets/images/home-page/doctor-image.webp">
        </div>
      </div>
    </div>
    <div class="investors-segment">
      <div class="container px-0">
        <div class="   d-flex">
          <div class="me-5">
          <p class="my-3  col-sm-2 me-md-5 white-space-nowrap text-center color-grey h5">Powered by: </p>
        </div>
          <div class="d-inline-flex mx-0 justify-content-center align-content-center flex-wrap">
            <div class="d-flex justify-content-start pl-2 ">
              <span class="text-center d-flex align-items-center px-2">
                <img src="assets/images/home-page/sputnik-logo.webp" alt="sputnik ATX">
              </span>
            </div>
            <div class="d-flex justify-content-start pl-2 ">
              <span class="text-center d-flex align-items-center px-2">
                <img src="assets/images/home-page/norrsken-logo.webp" alt="norrsken">
              </span>
            </div>
            <div class="d-flex justify-content-start pl-2 ">
              <span class="text-center d-flex align-items-center px-2">
                <img src="assets/images/home-page/guardian.webp" alt="The Guardian">
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-skills container text-center mt-5">
    <h3 class="text-center">Hundreds of doctors at your beck and call</h3>
    <p class="text-center">Don’t risk your health by relying on self-medication or amateur advice.<br>
      Get access to highly qualified doctors on CribMD!
    </p>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'capsules']"></fa-icon>
          <div class="advice text-bold">Family Medicine</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'baby']"></fa-icon>
          <div class="advice text-bold">Pediatrics</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'stethoscope']"></fa-icon>
          <div class="advice text-bold">General Practice</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'female']"></fa-icon>
          <div class="advice text-bold">Gynecology</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'eye-dropper']"></fa-icon>
          <div class="advice text-bold">Optometry</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'tooth']"></fa-icon>
          <div class="advice text-bold">Dentistry</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'tint']"></fa-icon>
          <div class="advice text-bold">Endocrinology</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-skills">
          <fa-icon [icon]="['fas', 'heartbeat']"></fa-icon>
          <div class="advice text-bold">Cardiology</div>
        </div>
      </div>
    </div>
  </section>
  <section class="services container">
    <div class="text-center">
      <h2>Our Services</h2>
      <p>Getting treatment and medical assistance with Telemedicine and Doctor Home Visit has never been fast and
        seamless.<br>
        At CribMD, we use cutting-edge technology to offer the most convenient and affordable healthcare services to you
        and your family.</p>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="service col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center px-3 px-sm-2 mb-3 mb-lg-5 ">
        <div class="card">
          <fa-icon [icon]="['fas', 'briefcase-medical']"></fa-icon>
          <p class="mt-4 text-bold">Doctor Home Visit</p>
          <p>Stay on top of your health by letting us bring our verified doctor(s) to you in-person.</p>
        </div>
      </div>
      <div class="service col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center px-3 px-sm-2 mb-3 mb-lg-5 ">
        <div class="card">
          <fa-icon [icon]="['fas', 'video']"></fa-icon>
          <p class="mt-4 text-bold">Telemedicine</p>
          <p>Video call or chat with a doctor from your phone, tablet, or computer until you’re satisfied.</p>
        </div>
      </div>
      <div class="service col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center px-3 px-sm-2 mb-3 mb-lg-5 ">
        <div class="card">
          <fa-icon [icon]="['fas', 'pills']"></fa-icon>
          <p class="mt-4 text-bold">Online Pharmacy</p>
          <p>Take control of your health and time by simply ordering your medications from our mobile App.</p>
        </div>
      </div>
      <div class="service col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center px-3 px-sm-2 mb-3 mb-lg-5 ">
        <div class="card">
          <fa-icon [icon]="['fas', 'shield-alt']"></fa-icon>
          <p class="mt-4 text-bold">CribMD Health Plan</p>
          <p>Get access to an affordable selection of health plans for yourself, your family, or employees.</p>
        </div>
      </div>

      <div class="col-12 text-center">
        <a href='/signup' class="btn btn-primary cta-btn text-bold ">
          Book a Doctor
        </a>
      </div>

    </div>
  </section>
    <section class="process">
      <div class="container">
        <div class="row align-items-center">
          <div class="process-image col-12 col-md-6 d-flex justify-content-start">
            <img src="assets/images/home-page/doctor-and-family.webp">
          </div>
          <div class="col-12 col-md-6 px-lg-5">
            <h2>Get a doctor to come to your home </h2>
            <div class="d-flex flex-column justify-content-around details mt-3">
              <div class="detail">
                <div class="mb-1">
                  <p>
                    Don’t stress over transportation, traffic, or finding someone to cover for you while you are
                    unavailable. We will always come to you!
                    <br>
                    We ensure you and your loved ones are properly cared for by designing our house call services to suit
                    your needs. So, save yourself the unnecessary stress and book your appointment to get a doctor to show
                    up right at your doorstep today.
                  </p>
                  <br>
                  <h3>Covid Concerns?</h3>
                  <p class="mt-3">
                    Our doctors, more than anyone, understand the dangers of the pandemic and are well equipped to visit
                    you while taking all the required preventive measures pre, during, and post-visit.
                  </p>
                </div>
              </div>
            </div>
            <div class="py-2">
              <a href='/signup' class="btn btn-primary cta-btn text-bold ">
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="process">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-md-6 px-lg-5">
          <h2>Call or chat verified doctors</h2>
          <div class="d-flex flex-column justify-content-around details mt-3">
            <div class="detail">
              <div>
                <p>
                  The Wait for Quality Healthcare is Over!
                  <br>
                  With CribMD, you can now talk to a licensed doctor online, through chat, audio call, or video
                  conference and get instant feedback and prescriptions on the go with your mobile phone.
                </p>
                <br>
              </div>
            </div>
          </div>
          <div class="py-2">
            <a href='/signup' class="btn btn-primary cta-btn text-bold ">
              Join Now
            </a>
          </div>
        </div>
        <div class="process-image col-12 col-md-6 d-flex justify-content-start">
          <img src="assets/images/home-page/doctor-and-patient-on-video.webp">
        </div>
      </div>
    </div>
  </section>
  <section class="process">
    <div class="container">
      <div class="row align-items-center">
        <div class="process-image col-12 col-md-6 d-flex justify-content-start">
          <img src="assets/images/home-page/prescriptions-on-the-go.webp">
        </div>
        <div class="col-12 col-md-6 px-lg-4">
          <h2>Prescriptions on the go...</h2>
          <div class="d-flex flex-column justify-content-around details mt-3">
            <div class="detail">
              <div class="mb-1">
                <p>
                  Get accurate and legal prescriptions from medical experts with an accurate track record of your past
                  prescriptions and sound analysis of your current health.
                  <br>
                </p>
                <br>
                <h3>Covid Concerns?</h3>
                <p class="mt-3">
                  Our doctors more than anyone understand the dangers of the pandemic and are well equipped to visit you
                  while taking all the required preventive measures post, during and pre visit.
                </p>
              </div>
            </div>
          </div>
          <div class="py-2">
            <a href='/signup' class="btn btn-primary cta-btn text-bold ">
              Get Prescriptions
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cta">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 px-0 px-md-3">
          <h3 class="text-bold">Looking for affordable healthcare services?
          </h3>
          <p>With as low as N3,000/month, get the best healthcare plan designed to suit your needs 24/7 at your
            comfort-zone.</p>
          <a href='/signup' class="cta-btn btn btn-primary text-bold"> Sign Up Now</a>

        </div>

      </div>
      <img class="cta-image" src="assets/images/home-page/female-doctor.webp">
    </div>
  </section>
  <section class="cta">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 p-lg-5 px-0 px-md-3">
          <h3 class="text-bold">Your Doctor On The Go
          </h3>
          <p>Book a same day appointment at your convenience either from our mobile App or web page and have a secure
            chat with any of our licensed doctors.</p>
          <div class="app-store-icons">
            <div class="app-icon">
              <a  target="_blank" href="https://play.google.com/store/apps/details?id=cribmd.com.CribMD">
                <img src="assets/images/app-store-imgs/google-play.png" alt="img description">
              </a>
            </div>
            <div class="app-icon">
              <a target="_blank" href="https://play.google.com/store/apps/details?id=cribmd.com.CribMD">
                <img src="assets/images/app-store-imgs/app-store.png" alt="img description">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <img src="assets/images/home-page/male-doctor.webp">

        </div>
      </div>
    </div>
  </section>
  <section class="investors">
    <div class="container text-center">
      <h2>Our investors</h2>
      <p class="mt-2">
        We're fully backed by ...
      </p>
      <div class="row justify-content-center align-content-center mt-4 mx-0">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/sputnik-logo.webp" alt="sputnik ATX">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/norrsken-logo.webp" alt="norrsken">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
          <a class="text-center px-2">
            <img src="assets/images/home-page/guardian.webp" alt="The Guardian">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="partners">
    <div class="container px-0">
      <div class="row justify-content-center mx-0">
        <div class="col-12 px-3 text-center">
          <h2>Our Partners</h2>
          <p class="mt-2 px-3">We’re working with trusted organizations in healthcare, policy and beyond:
          </p>
        </div>
        <div class="col-12 d-flex justify-content-center flex-wrap mt-3">
          <div class="partner col-6 col-md-3 col-sm-4 col-lg-2 mb-3 px-2" *ngFor="let link of links">
            <img src="{{link.url}}" alt="partner">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-customers">
    <div class="container">
      <div class="text-center">
        <h2 class="pt-5">What our customers are saying... </h2>
        <p class="mt-2"> We’re loved by our customers and they go on to recommend us to friends and family. </p>
      </div>
      <div class="reviews d-flex flex-column ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let slide of review_slides">
            <div class="review me-2">
              <div class="customer-image">
                <img src="{{slide.image_url}}" alt="{{slide.customer_name}}">
              </div>
              <div class="review-container row mx-0 flex-column justify-content-between h-100 w-100">
                <div class="customer-comment">{{slide.comment}}</div>
                <div class="customer">{{slide.customer_name}}</div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>
  <section class="news-section">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <h2>CribMD on the News</h2>
          <p class="mt-2">As seen on...</p>
        </div>
        <div class="row justify-content-center news-carousel">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of news_slides">
              <div class="p-3 w-100 h-100">
                <div class="card">
                  <img src="{{slide.image_link}}">
                  <a href="{{slide.url}}" class="d-block">
                    <h5 class="color-black">{{slide.outlet}}</h5>
                    <p class="mt-2 color-black">{{slide.content}}</p>
                  </a>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>

        </div>
      </div>

    </div>
  </section>
  <section class="help">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">

        </div>
        <h2>Do you need help?
        </h2>
        <p>
          Do you need help immediately or are you in some sort of emergency?<br>
          You can reach us on these numbers:
        </p>
      </div>
      <div class="col-12"><a href="tel:+2349060346075" class="emergency d-block">+234 906 034 6075</a>
        <small class="d-block text-center color-grey mb-2">(Available 9:00am - 9:00pm Mon. - Fri.)</small>
        <a href="tel:+2348081951702" class="emergency d-block">+234 808 195 1702</a>
        <small class="d-block text-center color-grey">(Available 24 / 7)</small></div>
      </div>


</section>
</div>
<app-footer></app-footer>
